@import '~styles/index.less';

@emptyd-document-color:#5b5be0;
.@{empty-prefix}-system-content{
    min-height: 100%;
    &-wrapper{
      height: 600px;
      overflow: auto;
      background: #f0f2f5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    &-footer{
        text-align: center;
        font-weight: 600;
        color:#999
    }
}

/* mixin */
.title-func(){
  background: #f2f2f2;
  color:#000;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left:20px;
  border-left: 5px solid @yellow-color;
}

.empty-title-size(@size){
  .title-func;
  .title-font-family(@size);
}

:global{ 
    /* Base Application Styles */
  a{
    text-decoration: none;
  }
  ul,li{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  h1,h2,h3,h4,h5{
    margin: 0;
    padding:0;
    font-weight: normal;
  }
  img{
    max-width: 100%;
  }
  .validator-tip{
    color: #f50;
    position: absolute;
    top: 46px;
    padding-left: 24px;
  }

  #root{
    width: 100%;
    height:100%;
  }

  .empty-title{
    .title-func;
    .title-font-family(32px);
  }
  .empty-title-size-16{
    .empty-title-size(16px);
  }
  .empty-title-size-16-yellow{
    .empty-title-size(16px);
    border-color:@theme-bg!important;
  }
  .ant-layout-sider{
    margin-right:20px;
  }

  

  .empty-api-marker{
    color: @emptyd-document-color;
    margin:0 3px;
  }
  .empty-api-type{
    color:#f40
  }
  .empty-code{
    color: @emptyd-document-color;
    padding: 4px 8px;
    background-color: #d4d4f7;
    border-radius: 4px;
    margin: 0 5px;
  }
  .empty-line-content{
    color:#333;
    height:40px;
    line-height: 40px;
  }
  .emptyd-content{
    padding-left:20px;
    padding-top:10px;
    padding-bottom:50px;
    margin-right:20px;
    padding-right:20px;
    background: #fff;
    min-height: calc(~'100%-70px');
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
  ::-webkit-scrollbar  
  {  
      width:5px;  
      height:5px;  
      background-color: #F5F5F5;  
  }  

  /*定义滚动条轨道 内阴影+圆角*/  
  ::-webkit-scrollbar-track  
  {  
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
      border-radius: 10px;  
      background-color: #F5F5F5;  
  }  
    
  /*定义滑块 内阴影+圆角*/  
  ::-webkit-scrollbar-thumb  
  {  
      border-radius: 10px;  
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
      background-color: #666;  
  }
}

