.container{
    background: #FFE7CA;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    font-size:12px;
    &-dog-pic{
        margin:0 auto;
        margin-top:28px;
        width:185px;
        height:185px;
        background:url('../../public/dog.png') center no-repeat;
        background-size: 100% 100%;
        margin-bottom: 36px;
    }
    &-dog-options{
        text-align: center;
        li{
            width:200px;
            height: 36px;
            line-height: 36px;
            font-size: 16px;
            list-style: none;
            border-radius: 36px;
            color:#fff;
            margin:0 auto 18px;
            background-color: #FBB03B ;            
        }
    }
}